.main {
	margin: 0%;
	padding: 0%;
	width: 100%;
	height: 300px;
	background: linear-gradient(to right, deepskyblue 5%, cornflowerblue, dodgerblue);
	box-shadow: 5px 5px 10px darkgray,
		-5px -5px 10px darkgray;
}

@media screen and (max-width:1200px) {
	.main {
		width: 100%;
		height: 35%;
		margin: 0px;
	}
}

.main .logo img {
	margin-top: 30px;
	margin-left: 60px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.main .amdc {
	margin-left: 70px;
	padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}

.main .amdc1 {
	margin-top: 0px;
	margin-left: 70px;
	padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}

.main .nav-bar {
	float: right;
	margin: 50px;
	padding: 0%;
}

@media screen and (max-width:1200px) {
	.main .nav-bar {
		width: 50%;
		height: 35%;
		margin: 0px;
	}
}

.main .nav-bar a {
	margin: 10px;
	padding: 10px;
	float: left;
	text-decoration: none;
	color: aliceblue;
	font-size: 20px;
	background: salmon;
	border-radius: 10px;

}

.main .nav-bar a:hover {
	background: dodgerblue;
	font-weight: bolder;
	box-shadow: 2px 2px 5px white,
		-2px -2px 5px white;
}

.main .form {
	float: left;
	margin-top: 2%;
	margin-left: 20%;
	padding: 0px;
	width: 1000px;
	height: 900px;
	background: white;
	box-shadow: 5px 5px 10px darkgray,
		-5px -5px 10px darkgray;
	border-radius: 20px;
}

@media screen and (max-width:1200px) {
	.main .form {
		margin: 0px;
		width: 100%
	}
}

@media screen and (max-width:1200px) {
	.form td {
		width: 100%;
		height: 35%;
		margin: 0px;
	}
}

.main .form label {
	float: left;
	margin-top: 30px;
	margin-left: 5%;
	text-align: center;
	color: tomato;
	font-family: Arial;
	font-size: 30px;
	font-weight: bolder;
}

.form table {

	margin: auto;
	padding: 50px;
}

.main .form td {
	margin: 0 auto;
	padding: 20px;
	font-size: 17px;
	color: blue;
}

.form .payment {
	float: unset;
	margin: 20% 80%;
	padding: 15px;
	text-align: center;
	background-color: navy;
	color: white;
	font-weight: bolder;
	font-size: 20px;
	box-shadow: 1px 1px 5px gray,
		-1px -1px 5px gray;
	border-radius: 10px;
}

.form .payment:hover {
	background-color: indianred;
	box-shadow: 2px 2px 5px gray,
		-2px -2px 5px gray;
}

#marquee {
	margin-top: 20px;
	color: red;
	font-weight: bolder;
	font-family: sans-serif;
	font-size: 20px;
}